header {
    background-color: rgb(10, 219, 90);

    height: 100%;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > .title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}