.basket-list {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.basket-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid green;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .basket-list {
        width: 90%;
    }

    .basket-list li {
        flex-direction: column;
    }
}