.basket-list {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.basket-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid green;
    padding: 5px;
}