.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.price-container button {
    width: 30px;
    height: 30px;
    background-color: darkgreen;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: white;
}

.price-container button:hover {
    background-color: rgb(164, 255, 164);
    color: rgb(0, 0, 0);
    cursor: pointer;
}